html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  /* position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -250px; */
  margin: 20px auto;
  text-align: center;
}

header h1 {
  font-size: 40px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 15px;
}

.row {
  padding: 10px;
}

.satir {
  float: none;
  margin: 8px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.col-sm-6 {
  text-align: center;
}

.select {
  font-size: 17px;
  width: auto;
}

.span {
  float: left;
}
